<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h3 style="text-align: center;">Please Log In to Contiue.</h3>
        <p style="text-align: center;">Sign In Options:</p>
        <a href="/auth/google" style="align-self: center;padding: 5px 5px;font-size: medium; border: 2px solid white; background-color: darkred; color: white;">Sign In with Google</a>
    </div>
</body>
</html>